
.footer {
  background-color: #efefef;
  color: #000;
  padding: 2em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #084EDC;
}

.social_list svg {
  width: 1.5em;
  cursor: pointer;
}

.copyright p {
  margin-top: 2em;
}

.copyright span {
  font-weight: bold;
  color: #084EDC;
}