.navbar {
  display: flex;
  background-color: #efefef;
  box-shadow: 0 0 10px #000000;
  height: 7vh;
  font-weight: bolder;
  position: relative;
}

.img1 {
  width: 40px;
  display: flex;
  position: absolute;
  right: 0;
  top: 1rem;
  margin-right: 1rem;
  opacity: 0.5;
  
}

.img2 {
  width: 250px;
  display: flex;
  top: 0.5rem;
  position: absolute;
  justify-content: center;
  margin-left: 52rem;
}

.navegacao {
  display: flex;
  width: 100%;
  justify-content: end;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
  
}

.item a {
  color: #525252;
  text-decoration: none;
}

.item a:hover {
  color: #084EDC;
}


