.container {
  width: 75rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 15px;
}

.servicos {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column; 
  padding: 8em;
  color: #525252;
}

.bloco1 {
  display: flex;
  float: left;
}

.title1 {
  
  padding: 8vh;
  font-size: 4vh;
  font-weight: bold;
  margin-top: -15vh;
}

.servicos img {
  width: 400px;
  height: 200px;
}

.span {
  color: #084EDC;
}

.serv1 {
  float: left;
}

.text1 {
  
  float: left;
  margin-top: 9%;
  margin-left: 142px;
  font-weight: bold;
  font-size: 1.1em;
}

.serv2 {
  float: right;
}

.text2 {
  padding: 0px;
  float: right;
  margin-top: 9%;
  margin-right: 152px;
  font-weight: bold;
  font-size: 1.1em;
}

.serv3 {
  float: left;
}

.text3 {
  padding: 0px;
  float: right;
  margin-top: 9%;
  margin-left: 80px;
  font-weight: bold;
  font-size: 1.1em;
}

.serv4 {
  float: right;

}

.text4 {
  padding: 0px;
  float: right;
  margin-top: 9%;
  margin-right: 80px;
  font-weight: bold;
  font-size: 1.1em;
}

.serv5 {
  float: left;

}

.text5 {
  padding: 0px;
  float: right;
  margin-top: 9%;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
  
}

.serv6 {
  float: right;

}

.text6 {
  float: right;
  margin-top: 9%;
  margin-right: 63px;
  font-weight: bold;
  font-size: 1.1em;
}

.title2 {
  padding: 8vh;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: -15vh;
}

.button1 {
  padding: 110px 0px 0px 0px;
  
}

.btn1 {
  background-color: #084EDC;
  color: #FFF;
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  flex-direction: column;
  margin-bottom: -100px;
  font-size: 1.3em;
}

.btn1:hover {
  background-color: #525252;
}

