.cadastro_container {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8em;
  font-weight: bold;
}

.cadastro_container h1 {
  color: #084EDC;
  font-weight: bold;
  font-size: 2.5em;
}

.cadastro_container h3 {
  color: #525252;
  font-weight: bold;
  font-size: 1.4em;
}

.btn {
  background-color: #525252;
  color: #FFF;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #084EDC;
}

.genero_grupo {
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 100%;
}