.cadastro_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.btn {
  background-color: #525252;
  color: #FFF;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
}

.btn:hover {
  background-color: #084EDC;
}