.cadastro_container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cadastro_container h1 {
  color: #525252;
  font-weight: bold;
  font-size: 2.5em;
  padding: 10px;
}

.cadastro_container h3 {
  color: #525252;
  font-weight: bold;
  font-size: 1.4em;
  padding: 40px 0px 0px 0px;
}

.btn {
  background-color: #525252;
  color: #FFF;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 40px;
  flex-direction: column;
}

.btn:hover {
  background-color: #084EDC;
}

.sinal{
  color: red;
}

.foto_user {
  width: 150px;
}

.empresa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.processo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.processo h1 {
  margin-bottom: 15px;
  font-size: 1.3em;
}

.processo input {
  margin-bottom: 15px;
}

.button1{
  display: flex;
  flex-direction: column;
}

.img {
  width: 30%;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
