.about {
  width: 75%;
  height: 80vh;
  padding: 5em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.text h1 {
  text-align: center;
  padding: 20px;
  font-size:4vh;
  font-weight: bold;
  flex-wrap: wrap-reverse;
  color: #084EDC;
  text-shadow: #525252 0.05em 0.04em 0.05em;
}


.quem_somos {
  padding: 10px;
  width: 70vh;
  height: 65vh;
  margin-right: 20px;
  border-radius: 100px;
  box-shadow: 0 0 10px black;
}

.container {
  display: flex;
  flex-direction: center;
}

.text p {
  padding: 12px;
  font-size:2vh;
  color: #525252;
  text-align: center;

}

.span {
  color: #084EDC;
}

.linha {
  width: 15vh;
  height: 0.1vh;
  background-color: #084EDC;
  margin: 20px auto;
  
}
