
.footer {
  background-color: #efefef;
  color: #525252;
  padding: 2vh;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin-top: 4.5vh;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1vw;
}

.social_list li:hover {
  color: #084EDC;
}



