

.Home {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text1 {
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.70);
  color: #fff;
  padding: 1em;
  top: 1px;
  position: absolute;
  align-items: center;
}

.text2 {
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.70);
  color: #fff;
  padding: 1em;
  bottom: 1px;
  position: absolute;
  align-items: center;
}

/* .home_container {
  width: 100%;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em;
}

.home_container h1 {
  font-size: 2em;
  font-weight: bold;
}


.home3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}

.home2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}

.home1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
} */