.contact_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 6vh;
  margin-bottom: -14vh;
}

.btn {
  background-color: #084edc;
  color: #fff;
  margin-top: 1vh;
  margin-bottom: -2vh;
  padding: 1vh 1vw;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  font-size: 2vh;
  box-shadow: 0 0 3px #525252;
}

.btn:hover {
  background-color: #525252;
}

.text1 {
  color: #084edc;
  font-weight: bold;
  font-size: 3.5vh;
  padding: 1.5vh;
  text-shadow: #525252 0.04em 0.03em 0.05em;
}

p {
  margin: 0.5vh;
  font-size: 1.8vh;
}

input {
  width: 25vh;
  height: 1.5vw;
  border-radius: 0.5vh;
  border-color: #084edc;
  text-align: center;
  padding: 1em;
  margin-top: 1vh;
}

textarea {
  width: 25vh;
  height: 12vh;
  border-radius: 0.5vh;
  border-width: 2px;
  border-color: #084edc;
  text-align: center;
  padding: 0.5em;
  margin-top: 1vh;
  box-shadow: 0 0 2px #525252;
}

.img1 {
  width: 10vw;
}

.linha {
  width: 30vw;
  height: 0.1vh;
  background-color: #084edc;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 1vh;
}

.linha2 {
  width: 30vw;
  height: 0.1vh;
  background-color: #084edc;
  margin: 0 auto;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
