.about {
  width: 75rem;
  padding: 8em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  min-height: 80%;
}

.text h1 {
  text-align: end;
  font-size: 1.5em;
  font-weight: bold;
  flex-wrap: wrap-reverse;
  color: #084EDC;
}

.quem_somos {
  padding: 10px;
  width: 55vh;
  height: 47vh;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: center;
}

.text p {
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  color: #525252;
}

.span {
  color: #084EDC;
}
