.login {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh;
  text-align: center;
}

.btn {
  background-color: #084edc;
  color: #fff;
  margin-top: 3vh;
  padding: 1vh 1vw;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  font-size: 2vh;
  box-shadow: 0 0 3px #525252;
}

.btn:hover {
  background-color: #525252;
}

.email {
  margin-top: 3vh;
  box-shadow: 0 0 2px #525252;
}

.senha {
  margin-top: 2vh;
  box-shadow: 0 0 2px #525252;
}
.login h1 {
  color: #084EDC;
  font-weight: bold;
  font-size: 4.3vh;
  margin-bottom: -2vh;
  margin-top: -1vh;
  
  text-shadow: #525252 0.04em 0.03em 0.05em;

}

.login h3 {
  color: #525252;
  font-size: 2.6vh;
  text-shadow: #525252 0.04em 0.03em 0.05em;

}
.teste {
  width: 20vw;
  height: 1vh;
  padding: 2vh;
  text-decoration: none;
  font-weight: bold;
}

.img1 {
  width: 20vh;
}