.cadastro_container {
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.cadastro_container h1 {
  color: #525252;
  font-weight: bold;
  font-size: 4.5vh;
  text-shadow: #525252 0.04em 0.03em 0.05em;
}
.cadastro_container h3 {
  color: #525252;
  font-weight: bold;
  font-size: 3vh;
  margin-top: 4vh;
  margin-bottom: 2vh;
  text-shadow: #525252 0.04em 0.03em 0.05em;
}

.cadastro_container label{
  font-size: 1.5vh;
  margin-top:2vh;
}

.btn1 {
  background-color: #084edc;
  width: 10vw;
  color: #fff;
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  margin-top: 1vh;

  font-size: 1.5vh;
  box-shadow: 0 0 3px #525252;
}

.btn1:hover {
  background-color: #525252;
}

.btn2 {
  background-color: #084edc;
  color: #fff;
  margin-top: 0vh;
  margin-bottom: 5vh;
  padding: 1vh 1vw;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.5vh;
  box-shadow: 0 0 3px #525252;
  margin-right: 5px;
  width: 12vh;
}

.btn2:hover {
  background-color: #525252;
}

.btn3 {
  background-color: #084edc;
  color: #fff;
  margin-top: 5vh;
  margin-bottom: 6vh;
  padding: 1vh 1vw;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.5vh;
  box-shadow: 0 0 3px #525252;
  margin-left: 5px;
  width: 5.8vw;
}

.btn3:hover {
  background-color: #525252;
}

.btn4 {
  background-color: #525252;
  width: 12vw;
  height: 4.6vh;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  font-size: 1.5vh;
  box-shadow: 0 0 3px #525252;
  margin: auto;
}

.btn4:hover {
  background-color: #084edc;
}

.img {
  width: 40vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vh;
  
}

.processo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha {
  width: 25vw;
  height: 0.1vh;
  background-color: #084edc;
  margin: 0 auto;
  margin-top: 6vh;
}
